.image-with-shadow {
    margin-left: 19rem;
    width: 80%;
    box-shadow: 20px 20px 12px rgba(147, 166, 194, 0.501); /* Modify the shadow properties as needed */
    border-radius: 15px;
}
.foreground-image {
    border-radius: 15px;
    z-index: 2; /* Place it in front of the background image */
}
.background-image {
    position: absolute;
    z-index: -1; /* Place it behind the foreground image */
}
.background-image-2 {
    position: absolute;
    z-index: -1; /* Place it behind the foreground image */
}
.dot-background {
    background: url('img/dotbg.png'); /* Replace with your dot pattern image */
    padding: 20px; /* Adjust padding as needed */
    display: inline-block;
    position: relative;
    margin-left: 19rem;
}

/* Style the image within the container */
.dot-background img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px; /* Add rounded corners to the image */
}