body {
    min-height: 100vh;
    background-color: #e9e7e7;
}

th {
    background-color: rgb(98, 167, 228);
}
.table {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.addButton {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 8.77cm;
}

.footer {
    position: relative;
    background-color: #948f8f;
    bottom: 0cm;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between; /* Distribute columns evenly */
}

.footer section {
    flex: 1; /* Each column takes an equal share of available space */
    margin: 0 10px; /* Add some space between columns */
}

/* Apply the initial styles to the image and the image container */
.image-container {
  width: 75px;
  height: 75px;
  text-align: center;
  overflow: hidden; /* This hides any part of the image that exceeds the container size */
  transition: transform 0.3s; /* Add a smooth transition effect to the transform property */
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s; /* Apply the same transition to the image for consistency */
}

/* Add a hover effect to the image when hovering over the section */
section:hover .image-container {
  transform: scale(1.2); /* Scale up the image container on hover */
}

section:hover .image-container img {
  transform: scale(1.2); /* Scale up the image on hover */
}
